<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="spring.profiles.active" source="spring.profiles.active" defaultValue="local"/>
    <!-- 로컬 환경 설정 -->
    <if condition='property("spring.profiles.active").equals("local")'>
        <then>
            <include resource="logback-local.xml"/>
        </then>
    </if>
    <!-- 개발 환경 설정 -->
    <if condition='property("spring.profiles.active").equals("dev")'>
        <then>
            <include resource="logback-dev.xml"/>
        </then>
    </if>
    <!-- 검증 환경 설정 -->
    <if condition='property("spring.profiles.active").equals("stg")'>
        <then>
            <include resource="logback-stg.xml"/>
        </then>
    </if>
    <!-- 운영 환경 설정 -->
    <if condition='property("spring.profiles.active").equals("prd")'>
        <then>
            <include resource="logback-prd.xml"/>
        </then>
    </if>
</configuration>
