<?xml version="1.0" encoding="UTF-8"?>
<included>
    <springProperty name="logPath" source="logging.file.path"/>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${logPath}/service.log</file>
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} %-5level %-20([%thread]) %logger - %msg%n%ex{20}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logPath}/service-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>100MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>1000</maxHistory>
        </rollingPolicy>
    </appender>

    <root level="debug">
        <appender-ref ref="FILE"/>
    </root>
</included>